<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A User Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/createUser.css">
    <script src="/js/createUserPage.js" defer></script>
</head>

<body>
    <br><br>
    <label for="fName">First Name:</label>
    <input type="text" id="fName">
    <br><br>
    <label for="lName">Last Name:</label>
    <input type="text" id="lName">
    <br><br>
    <label for="orderNumber">Order Count:</label>
    <input type="number" id="orderNumber">
    <br><br>
    <a><button id="makeUserBtn" class="bn33">Make User!</button></a>
    <br><br>
    <div id="userCreatedDiv"><span id="userCreateSpan">Your user will appear here</span></div>
    <br>
    <a class="btn btn-secondary" href="/seeMainPage">Go back</a>

</body>

</html>