@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

:root {
	--fade-in-time: 1s;
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(33deg, rgb(26, 214, 192), rgb(185, 19, 218));
	margin-left: 10px;
}

label,
span {
	font-family: "Comfortaa", cursive;
}

input {
	font-family: "Comfortaa", cursive;
	font-size: 20px;
	height: 25px;
}

.bn33 {
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 16px;
	-webkit-transform: translate(0);
	transform: translate(0);
	background-image: linear-gradient(45deg, #256d7b, #317f43);
	padding: 0.7em 2em;
	border-radius: 1px;
	color: white;
}

a,
a:visited {
	color: white;
	font-size: 18px;
}

*:not(html) {
	margin-top: 25px;
	font-size: 21px;
	text-align: center;
	animation: fadein var(--fade-in-time);
	-moz-animation: fadein var(--fade-in-time); /* Firefox */
	-webkit-animation: fadein var(--fade-in-time); /* Safari and Chrome */
	-o-animation: fadein var(--fade-in-time); /* Opera */
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	/* Firefox */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	/* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadein {
	/* Opera */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

a:hover {
	background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
